<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tiny.springbootmybatisxml.dao.NewsDao" >

    <resultMap id="BaseResultMap" type="com.tiny.springbootmybatisxml.entity.News" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="news_no" property="newsNo" jdbcType="BIGINT" />
        <result column="title" property="title" jdbcType="VARCHAR" />
        <result column="publish_time" property="publishTime" jdbcType="DATE" />
    </resultMap>


    <sql id="Base_Column_List" >
        id, title,content,source,publish_time,category,news_no,picture
    </sql>

    <select id="list" resultMap="BaseResultMap" >
       SELECT
       <include refid="Base_Column_List" />
	   FROM news
    </select>



</mapper>