<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brs.oa.salary.mapper.SalaryEntryMapper">

    <sql id="salary-entry-column">
        item_name,
        item_text,
        item_type,
        item_value,
        item_formula,
        category


    </sql>
    <select id="selectListByCategory" resultType="com.brs.oa.salary.entity.SalaryEntry">
        SELECT  <include refid="salary-entry-column"></include>
        FROM salary_entry
        WHERE  salary_entry.category = #{category}
    </select>

    <insert id="insertOne">
        INSERT INTO salary_entry
        ( <include refid="salary-entry-column"></include> )
        values
        <foreach collection="list" item="entry" index="index" separator=",">
            (
            #{entry.itemName},
            #{entry.itemText},
            #{entry.itemType},
            #{entry.itemValue},
            #{entry.itemFormula},
            #{category}
            )
        </foreach>

    </insert>

    <insert id="insertRelatedSaffList">
        INSERT  INTO staff_salary_entry_relation
        ( emp_no,salary_entry_category )
        VALUES
        <foreach collection="list" item="empNo" index="index" separator=",">
            (
            #{empNo},
            #{category}
            )
        </foreach>

    </insert>
</mapper>
