<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brs.oa.salary.mapper.SocialInsuranceEntryMapper">

    <sql id="si-column">
        item_name,
        pay_the_way,
        base_number,
        person_rate,
        company_rate,
        category
    </sql>
    <select id="selectListByCategory" resultType="com.brs.oa.salary.entity.SocialInsuranceEntry">
        SELECT  <include refid="si-column"></include>
        FROM  social_insurance_entry
        WHERE  category = #{category}
    </select>

    <select id="selectListByByEmpNo" resultType="com.brs.oa.salary.entity.SocialInsuranceEntry">
        SELECT  <include refid="si-column"></include>
        FROM  social_insurance_entry AS sie
        LEFT  JOIN  staff_social_insurance_entry_relation AS ssier
        ON sie.category = ssier.socail_insurance_category
        WHERE  ssier.emp_no = #{empNo}

    </select>
    <insert id="insertOne">
        INSERT  INTO social_insurance_entry
        (<include refid="si-column"></include> )
        VALUES
        <foreach collection="list" item="entry" index="index" separator=",">
        (
            #{entry.itemName},
            #{entry.payTheWay},
            #{entry.baseNumber},
            #{entry.personRate},
            #{entry.companyRate},
            #{category}
        )
        </foreach>

    </insert>
    <insert id="insertRelatedSaffList">
        INSERT  INTO staff_social_insurance_entry_relation
        (emp_no,socail_insurance_category)
        VALUES
        <foreach collection="list" item="empNo" index="index" separator=",">
            (#{empNo},#{category})
        </foreach>

    </insert>


    <select id="selectStaffListByCategory" resultType="com.brs.oa.staff.entity.Staff">
        SELECT staff.emp_no,staff.name
        FROM staff
        LEFT  JOIN staff_social_insurance_entry_relation AS  ssier
        on ssier.emp_no = staff.emp_no
        WHERE  ssier.socail_insurance_category = #{category}
    </select>

</mapper>
