<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brs.oa.vofield.mapper.VoFieldMapper">

    <select id="queryByEmpNoAndVoName" resultType="com.brs.oa.vofield.vo.FieldVo">
        select
            vf.field_no,field_name,field_desc,from_vo,field_type, rvf.is_enabled
        from
            vo_field as vf
        left join
            role_vo_field as rvf
        on
            rvf.field_no = vf.field_no
        left join
             role
        on
             rvf.role_no = role.role_no
        left join
             staff_role_relation as srr
        on
            srr.role_no = role.role_no
        where  srr.emp_no = #{empNo} AND vf.from_vo = #{voName}

    </select>


</mapper>
